@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 100%;
	user-select: none;
	-moz-user-select: none;
}

body {
	height: 100vh;
	overflow: hidden;
	font-family: "Lato", "sans-serif";
	background-image: url("./assets/back-ground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

footer {
	position: fixed;
	bottom: 0;
	right: 1%;
	height: 20px;
	color: #808080;
}

footer a {
	text-decoration: none;
	color: #a6a6a6;
}

p.help-text {
	padding-top: 0.5rem;
	width: 100% !important;
	overflow: visible;
	text-align: center;
	display: inline;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-container p {
	height: fit-content;
	width: fit-content;
}

.search-flex-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #333;
}

.temp-flex-container {
	height: 100vh;
	width: 50%;
	display: none;
	align-items: center;
	justify-content: space-between;
	color: #333;
}

.left-container {
	display: flex;
	flex-direction: row;
}

.right-container {
	display: grid;
	grid-gap: 0.25rem;
	grid: "description description" "high feels-like" "low feels-like" "feels-like-text feels-like-text";
}
.loc-container {
	display: flex;
	flex-direction: column;

	justify-content: flex-end;
}

#icon {
	height: 96px;
	width: 96px;
}

#description {
	grid-area: description;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}

#location {
	font-size: 1.5rem;
	cursor: pointer;
}

#current-temp {
	font-size: 5rem;
	cursor: pointer;
}

#high {
	grid-area: high;
	font-size: 1.5rem;
}
#low {
	grid-area: low;
	font-size: 1.5rem;
}

#feels-like {
	grid-area: feels-like;
	font-size: 4rem;
	height: 100%;
	cursor: pointer;
}

#feels-like-text {
	grid-area: feels-like-text;
	width: 100%;
	text-align: center;
}

/* Style the instruction alert */
.swal-modal {
	background-color: #fff;
	color: #333;
}

.swal-text {
	text-align: center;
}

.swal-button {
	background-color: #a6a6a6;
	color: #333;
}

.swal-button:not([disabled]):hover {
	background-color: #a6a6a6;
}

/* Style the search field */
input {
	padding: 10px;
	border: #333 solid 2px;
	border-radius: 8px;
	width: 80%;
	background: transparent;
}

input:focus-visible {
	outline: none;
}

/* Style the submit button */
div.flex-container button {
	width: 20%;
	padding: 10px;
	background: transparent;
	color: #333;
	border: none;
	cursor: pointer;
}
